blocks/pageone/services/liquidCallbackRegister.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). --><s0:definitions xmlns="" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://jaxb.liquidcallbackregister.pageone.com" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://jaxb.liquidcallbackregister.pageone.com">
  <s0:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:inf2="http://jaxb.liquidcallbackregister.pageone.com" xmlns:intf="http://jaxb.liquidcallbackregister.pageone.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.oventus.com/">
      <xsd:import namespace="http://jaxb.liquidcallbackregister.pageone.com" schemaLocation="https://soap.oventus.com/LiquidWS/CallbackRegisterService?xsd=1" />
    </xsd:schema>
  </s0:types>
  <s0:message name="receivedMessageListenerRequest">
    <s0:part element="s1:pageoneHeader" name="request_header" />
    <s0:part element="s1:receivedMessageListenerRequest" name="request" />
  </s0:message>
  <s0:message name="receivedMessageListenerResponse">
    <s0:part element="s1:status" name="response" />
  </s0:message>
  <s0:message name="deliveryReportListenerRequest">
    <s0:part element="s1:pageoneHeader" name="request_header" />
    <s0:part element="s1:deliveryReportListenerRequest" name="request" />
  </s0:message>
  <s0:message name="deliveryReportListenerResponse">
    <s0:part element="s1:status" name="response" />
  </s0:message>
  <s0:message name="pagerMessageListenerRequest">
    <s0:part element="s1:pageoneHeader" name="request_header" />
    <s0:part element="s1:pagerMessageListenerRequest" name="request" />
  </s0:message>
  <s0:message name="pagerMessageListenerResponse">
    <s0:part element="s1:status" name="response" />
  </s0:message>
  <s0:message name="unregisterListenerRequest">
    <s0:part element="s1:pageoneHeader" name="request_header" />
    <s0:part element="s1:unregisterListenerRequest" name="request" />
  </s0:message>
  <s0:message name="unregisterListenerResponse">
    <s0:part element="s1:status" name="response" />
  </s0:message>
  <s0:message name="listListenersRequest">
    <s0:part element="s1:pageoneHeader" name="request_header" />
    <s0:part element="s1:listListenersRequest" name="request" />
  </s0:message>
  <s0:message name="listListenersResponse">
    <s0:part element="s1:listListenersResponse" name="response" />
  </s0:message>
  <s0:message name="AuthorizationException">
    <s0:part element="s1:liquidError" name="fault" />
  </s0:message>
  <s0:portType name="RegisterCallbackPortType">
    <s0:operation name="registerReceivedMessageListener">
      <s0:input message="s1:receivedMessageListenerRequest" name="registerReceivedMessageListenerRequest" />
      <s0:output message="s1:receivedMessageListenerResponse" name="registerReceivedMessageListenerResponse" />
      <s0:fault message="s1:AuthorizationException" name="AuthorizationException" />
    </s0:operation>
    <s0:operation name="registerDeliveryReportListener">
      <s0:input message="s1:deliveryReportListenerRequest" name="registerDeliveryReportListenerRequest" />
      <s0:output message="s1:deliveryReportListenerResponse" name="registerDeliveryReportListenerResponse" />
      <s0:fault message="s1:AuthorizationException" name="AuthorizationException" />
    </s0:operation>
    <s0:operation name="registePagerMessageListener">
      <s0:input message="s1:pagerMessageListenerRequest" name="pagerMessageListenerRequest" />
      <s0:output message="s1:pagerMessageListenerResponse" name="pagerMessageListenerResponse" />
      <s0:fault message="s1:AuthorizationException" name="AuthorizationException" />
    </s0:operation>
    <s0:operation name="unregisterListener">
      <s0:input message="s1:unregisterListenerRequest" name="unregisterListenerRequest" />
      <s0:output message="s1:unregisterListenerResponse" name="unregisterListenerResponse" />
      <s0:fault message="s1:AuthorizationException" name="AuthorizationException" />
    </s0:operation>
    <s0:operation name="listListeners">
      <s0:input message="s1:listListenersRequest" name="listListenersRequest" />
      <s0:output message="s1:listListenersResponse" name="listListenersResponse" />
      <s0:fault message="s1:AuthorizationException" name="AuthorizationException" />
    </s0:operation>
  </s0:portType>
  <s0:binding name="RegisterCallbackSoapBinding" type="s1:RegisterCallbackPortType">
    <s2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <s0:operation name="registerReceivedMessageListener">
      <s2:operation soapAction="registerReceivedMessageListener" style="document" />
      <s0:input name="registerReceivedMessageListenerRequest">
        <s2:header message="s1:receivedMessageListenerRequest" part="request_header" use="literal" />
        <s2:body parts="request" use="literal" />
      </s0:input>
      <s0:output name="registerReceivedMessageListenerResponse">
        <s2:body use="literal" />
      </s0:output>
      <s0:fault name="AuthorizationException">
        <s2:fault name="AuthorizationException" use="literal" />
      </s0:fault>
    </s0:operation>
    <s0:operation name="registerDeliveryReportListener">
      <s2:operation soapAction="registerDeliveryReportListener" style="document" />
      <s0:input name="registerDeliveryReportListenerRequest">
        <s2:header message="s1:deliveryReportListenerRequest" part="request_header" use="literal" />
        <s2:body parts="request" use="literal" />
      </s0:input>
      <s0:output name="registerDeliveryReportListenerResponse">
        <s2:body use="literal" />
      </s0:output>
      <s0:fault name="AuthorizationException">
        <s2:fault name="AuthorizationException" use="literal" />
      </s0:fault>
    </s0:operation>
    <s0:operation name="registePagerMessageListener">
      <s2:operation soapAction="registePagerMessageListener" style="document" />
      <s0:input name="pagerMessageListenerRequest">
        <s2:header message="s1:pagerMessageListenerRequest" part="request_header" use="literal" />
        <s2:body parts="request" use="literal" />
      </s0:input>
      <s0:output name="pagerMessageListenerResponse">
        <s2:body use="literal" />
      </s0:output>
      <s0:fault name="AuthorizationException">
        <s2:fault name="AuthorizationException" use="literal" />
      </s0:fault>
    </s0:operation>
    <s0:operation name="unregisterListener">
      <s2:operation soapAction="unregisterListener" style="document" />
      <s0:input name="unregisterListenerRequest">
        <s2:header message="s1:unregisterListenerRequest" part="request_header" use="literal" />
        <s2:body parts="request" use="literal" />
      </s0:input>
      <s0:output name="unregisterListenerResponse">
        <s2:body use="literal" />
      </s0:output>
      <s0:fault name="AuthorizationException">
        <s2:fault name="AuthorizationException" use="literal" />
      </s0:fault>
    </s0:operation>
    <s0:operation name="listListeners">
      <s2:operation soapAction="listListeners" style="document" />
      <s0:input name="listListenersRequest">
        <s2:header message="s1:listListenersRequest" part="request_header" use="literal" />
        <s2:body parts="request" use="literal" />
      </s0:input>
      <s0:output name="listListenersResponse">
        <s2:body use="literal" />
      </s0:output>
      <s0:fault name="AuthorizationException">
        <s2:fault name="AuthorizationException" use="literal" />
      </s0:fault>
    </s0:operation>
  </s0:binding>
  <s0:service name="RegisterCallbackService">
    <s0:port binding="s1:RegisterCallbackSoapBinding" name="RegisterCallbackPort">
      <s2:address location="https://soap.oventus.com/LiquidWS/CallbackRegisterService" />
    </s0:port>
  </s0:service>
</s0:definitions>